body {
  background-image: url('http://all4desktop.com/data_images/wallpapers/out/336754.jpg');
}

h1, h2 {

  text-align: center;
  font-style: oblique;
  font-family: cursive;
	color: rgba(0, 226, 73, 0.80);
  text-shadow:0px 2px 0px rgba(0, 255, 255, 0.14);
}

#numbers, #buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
	height: 94px;
	width: 94px;
  background: rgba(86, 133, 255, 0.95);
  text-shadow:0px 2px 0px rgba(0, 255, 255, 0.14);
  border:1px solid #0634aa;
  box-shadow: 0px 2px 1px rgba(17, 50, 187, 0.90) inset, 0px -2px 8px rgba(17, 50, 187, 0.75), 0px 2px 5px rgba(0, 0, 0, 0.20), 0px 8px 10px rgba(0, 0, 0, 0.1);
	margin: 5px auto;
	display: block;
	border-radius: 35%;
  line-height: 94px;
	text-align: center;
	font-size: xx-large;
	font-style: oblique;
  font-family: cursive;
	color: rgba(20, 0, 255, 0.97);
}

.selected {
	height: 90px;
	width: 90px;
	border: solid rgb(253, 46, 46);
	margin: 0px;
}

.starRow {
  display: flex;
  justify-content: center;
  /*width:100%;*/
}

button{
		background: #ECECEC;
		border-radius: 15px;
		padding: 10px 20px;
		display: inline-block;
    text-align: left;
		font-family: arial;
		font-weight: bold;
		color:#7f7f7f;
		text-decoration: none;
		text-shadow:0px 1px 0px #fff;
    font-size: large;
		border:1px solid #a7a7a7;
		width: 130px;
		margin:0px auto;
		margin-top:100px;
		box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
		-webkit-transition:box-shadow 0.5s;
	}
  button#trys {
    width: 120px;
  }
	button i{
		float: right;
		margin-top: 2px;
	}
	button:hover{

    color: rgba(236, 68, 51, 0.53);
    text-shadow:0px 2px 0px rgba(236, 68, 51, 0.20);
		box-shadow: 0px 2px 4px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
	}
	button:active{
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
		background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
	}

  .used {
  display: none;
  }
